.jumbotron{
   
    overflow: hidden;
    padding-bottom: 30px;
}




.warmSkyGrad{
    background-image: linear-gradient(rgb(199, 133, 95), rgb(230, 245, 143), white );
    
}


.chillySkyGrad{
    background-image: linear-gradient(rgb(52, 116, 133), rgb(240, 243, 194), white );

}


.stormSkyGrad{
    background-image: linear-gradient(black, rgb(33, 27, 82), white );
}

.coldSkyGrad{
    background-image: linear-gradient( rgb(99, 78, 253), rgb(207, 207, 252), white );
}

.fadeInBack{
    animation: fadein 1s forwards;
}








@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 2.5; }
}





h1 {
    margin-top: 50px;
    padding: 40px 0px;
}
p{
    margin: auto;
    padding:40px;
    width: 50%;
}














.h1FadeIn{
    animation: scaleUp 3s forwards;  
    transform: scale(0);
    animation-delay: 1s;
}

.pFadeIn{
    padding-bottom: 80px;
    transform: scale(0);
    animation: scaleUp 2.5s  2.5s forwards;
}


@keyframes scaleUp{
    from{ transform: scale(0)}
    to{ transform: scale(2.5);}

}


 

