.boxShade{
  background-image:  -webkit-linear-gradient(45deg,white  50%, rgb(226, 205, 82) 50%);
  margin: 10px 0 30px;
  padding: 5px;
  padding-bottom: 100px;
  display: block;
  transform: scale(0);
  animation: scaledUp 2.5s  2.5s forwards
}


.Notice{
    font-weight: bold;
}



.slideInLeft{
  position: relative;
  animation-delay: 2s;
  animation:4s 2s slideFromLeft forwards;
}


@keyframes slideFromLeft{
  from {right: 1000px;}
  to {right: 175px;}
}



@keyframes scaledUp{
    from{ transform: scale(0)}
    to{ transform: scale(1);}

}

