



ul{
    margin-left: auto;
    
}


.navBarClr{
    background: linear-gradient(rgb(255, 252, 82), white);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navBarClr:hover{
    background: rgb(212, 4, 4);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.navbar-brand{
    font-family: 'Dancing Script', cursive;
}

